<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <style>
        </style>
    </head>
    <body>
        <section>
            <h1>
                MUSIC_APP
            </h1>
        </section>
        <section>
            <button onclick="location.href='/login'">Login</button>
            <button onclick="location.href='/register'">Register</button>
        </section>
        <!-- <a href="/home">Home page</a>
        <a href="/login">Login page</a>
        <a href="/register">Register page</a> -->
    </body>
</html>